{% extends 'base.html' %} {% block content %}

<div id="about-section">
  <h2>About <strong>To Do List</strong></h2>
  <br />
  <img
    src="{{ url_for('static', filename='images/todo.png') }}"
    width="200"
    alt=""
  />
  <br /><br /><br />
  <h5>
    <strong>To Do List</strong> is an app designed to help you manage your
    day-to-day tasks.
  </h5>

  <div id="contact">
    <a class="contact-icons" href="#"><i class="fab fa-github fa-lg"></i></a>

    <a class="contact-icons" href="#"><i class="fab fa-linkedin fa-lg"></i></a>

    <a class="contact-icons" href="#"><i class="fab fa-instagram fa-lg"></i></a>

    <a class="contact-icons" href="#"><i class="fab fa-twitter fa-lg"></i></a>

    <a class="contact-icons" href="#"><i class="fas fa-envelope fa-lg"></i></a>
  </div>

  <footer>© 2023 Maimoon</footer>
</div>
{% endblock %}
