{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <h1 id="title" class="text-center">Decision Support System</h1>
      <p id="description" class="text-center">
        Find out if your anxiety could be a sign of something more serious.
      </p>
    </header>

    <div class="form-wrap">
      <form id="survey-form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label id="name-label" for="name">Age</label>
              <input
                type="number"
                name="age"
                id="number"
                min="10"
                max="99"
                class="form-control"
                placeholder="Age"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label id="name-label" for="name">Low Alpha</label>
              <input
                type="text"
                name="low_alpha"
                id="low_alpha"
                placeholder="Enter low alpha"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label id="name-label" for="name">High Alpha</label>
              <input
                type="text"
                name="high_alpha"
                id="high_alpha"
                placeholder="Enter high alpha"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label id="name-label" for="name">Low Beta</label>
              <input
                type="text"
                name="low_beta"
                id="low_beta"
                placeholder="Enter high alpha"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label id="name-label" for="name">High Beta</label>
              <input
                type="text"
                name="high_beta"
                id="high_beta"
                placeholder="Enter high alpha"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label id="name-label" for="name">Low Gamma</label>
              <input
                type="text"
                name="low_gamma"
                id="low_gamma"
                placeholder="Enter high alpha"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label id="name-label" for="name">High Gamma</label>
              <input
                type="text"
                name="high_gamma"
                id="high_gamma"
                placeholder="Enter high alpha"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <button type="submit" id="submit" class="btn btn-primary btn-block">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

{% endblock %}
